<%- include("partials/header"); -%>

<h1>Home</h1>
<span class="truncated"><%= startingContent %></span>

 <% postArray.forEach(function(post) { %>
   <h1> <%= post.title; %></h1>
   <span class="truncated"><%= post.content; %></span>
<% }); %>




<%- include("partials/footer"); -%>